<section id="footer" class="section">
    <section class="container {{ grid_size }}">
       <p> Training Labs from <a href="https://github.com/CesarTest">CDG</a> + <i class="fa fa-code"></i> with <i class="fa fa-heart-o pulse "></i> for <a href="https://docs.openstack.org/ironic">Community</a>.</p>
    </section>
</section>
